severity = 3
verbose  = %f:%l:%c:%p:%m\n
exclude  = RegularExpressions::RequireExtendedFormatting

[Subroutines::ProhibitManyArgs]
# Increasing from the default which is 5 until we have time to fix the two
# routines which have 6.
max_arguments = 6
